<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

    <suite name="TestNG" parallel="methods" thread-count="2">

        <parameter name="BaseUrl" value="https://qa.koel.app/"/>
        <test name="Example Test" preserve-order="false">
            <parameter name="browser" value="firefox"/>
            <parameter name="browser" value="chrome"/>
            <parameter name="browser" value="safari"/>

        <classes>
            <class name="BaseTest"/>
            <class name="LoginTests"/>
<!--&lt;!&ndash;            <class name="Homework24"/>&ndash;&gt; comment this for now, unfinished test case-->
        </classes>
    </test>
</suite>














